* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #eff3f4;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    margin: 0;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: .5em;
    font-family: 'Source Sans Pro', sans-serif;
}

form .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    background: none;
    border: solid 2.5px #3A5E77;
    overflow: hidden;
    pointer-events: none;
}

form .svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}

form .svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

form .inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
}

form .inputGroup:last-of-type {
    margin-bottom: 0;
}

form label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
}

form input[type='email'],
form input[type="text"],
form input[type='password'] {
    display: block;
    margin: 0;
    padding: 0 1em 0;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow .2s linear, border-color .25s ease-out;
}

form input[type='email']:focus,
form input[type="text"]:focus,
form input[type='password']:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px #4eb8dd;
}

form input[type='email'],
form input[type="text"] {
    padding: 14px 1em 0px;
}

form button {
    display: block;
    margin: 0;
    padding: .65em 1em 1em;
    background-color: #4eb8dd;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    transition: background-color .2s ease-out;
}

form button:hover,
form button:active {
    background-color: #217093;
}

form .inputGroup1 .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
}

form .inputGroup1 .helper1 {
    top: 0;
    left: 0;
    transform: translate(1.4em, 2.6em) scale(1);
    transform-origin: 0 0;
    color: #217093;
    font-size: 1.25em;
    font-weight: 400;
    opacity: .65;
    pointer-events: none;
    transition: transform .2s ease-out, opacity .2s linear;
}

form .inputGroup1.focusWithText .helper {
    /*input[type='email']:focus + .helper {*/
    transform: translate(1.4em, 2em) scale(0.65);
    opacity: 1;
}

.app-title {
    text-align: center;
    color: #3A5E77;
    margin-bottom: 1.5em;
    font-weight: 700;
    font-size: 1.5em;
    border-bottom: 2px solid #eff3f4;
    padding-bottom: 15px;
}

.forgot-link-container {
    text-align: right;
    margin-top: 8px;
    margin-bottom: 5px;
}

.forgot-link {
    color: #217093;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: color 0.2s;
}

.forgot-link:hover {
    color: #4eb8dd;
    text-decoration: underline;
}

form {
    padding-top: 1.5em;
}

::selection {
    background-color: #4eb8dd;
    color: #eff3f4;
}

@media screen and (max-width: 600px) {
    form {
        width: 90%;
        padding: 1.5em;
        max-width: 100%;
        margin-top: 20px;
    }

    form .svgContainer {
        width: 140px;
        height: 140px;
        margin-bottom: 1em;
    }

    .app-title {
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    form input[type='text'],
    form input[type='password'] {
        height: 50px;
        font-size: 1.1em;
        padding: 10px 1em 0;
    }

    form .inputGroup1 .helper1 {
        transform: translate(1em, 2em) scale(0.85);
    }

    form .inputGroup1.focusWithText .helper {
        transform: translate(1em, 1.5em) scale(0.6);
    }

    form button {
        height: 50px;
        font-size: 1.2em;
        margin-top: 1em;
    }
}
